.header{
    background-color: cadetblue;
    width: 100%;
    display: flex;
    align-items: center;
    height: 5.5vh;
}
#ecart-Heading{
position: absolute;
left: 45%;
font-style: italic;
font-size: 22px;
color:rgb(14, 38, 49);
}
#ecart-Heading:hover{
cursor: pointer;
color:rgb(15, 58, 49);
}
#user-details{
margin-top: 10px;
cursor: pointer;
    }

#cart-N{
width: 50px;
margin: 0px;
border-radius: 0px;
}
#order-N{
    width: 60px;
    margin: 0px;
    border-radius: 0px;
}
#rightBOx{
display: flex;
    position: absolute;
    right: 2px;
    margin: 0px;
    height: 40px;
}
#user-details div{
display: none;
width: 70px;
color: aliceblue;
}
#user-details:hover> div{
    display: block;
    position: relative;
    top:8.5px;
    left:25px;
    height: 25px;

    cursor: pointer;
    background-color: crimson;
}