#products{
    width: 100%;
    background-color: rgb(235, 244, 249);
    height: fit-content;
}
.image{
    height: 250px;
    width: 250px;
    margin:10px;
}
.content{
display: flex;   
}
.card{
    display:inline-grid;
    height: 280px;
    width:630px;
    border: solid gray 1px;
    margin:4vh 0 0 80px;
}
.content-box{
    margin: 15px;
}
.content-box ul li{
    margin: 10px;
    list-style:square;
}

button{
    margin: 0 0 0 5px;
    background-color: rgb(206, 200, 200);
    border: rgb(206, 200, 200);
    border-radius: 4px;
}
button:hover{
    cursor: pointer;
background-color: rgb(38, 40, 40);
color:white;
border:rgb(38, 40, 40);
}
label,input{
    display: block;
    }
.image1{
    height:100px;
    width:100px;
    border: grey 1px solid;
    padding:5px;
    margin-top:3px;
}
.card1{
    height: 120px;
    display: flex;
    width: 300px;
    border:2px grey solid;
    margin:2px 10px;
    padding: 3px;
    font-size: 13px;
}
.itemname{
    margin: 2px 5px;
}
.image1{
    height:100px;
    width:100px;
    border: grey 1px solid;
    padding:5px;
    margin-top:3px;
}
.card1{
    height: 120px;
    display: flex;
    width:380px;
    border:2px grey solid;
    margin:2px 10px;
    padding: 3px;
}
.itemname{
    margin: 0 5px;
}
.para{
    margin:2px 0px;
    padding: -20px,0px;
}

