/* .App {
  text-align: center;
  color:red;
  background-color: grey;
  margin:350px 250px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  font-size: 50px;
}
body{
  background-color: aquamarine;
} */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#container{
  background-image:url("https://images.unsplash.com/photo-1657127791630-90ac1809e124?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80");
height: 60em;
margin: -25px -18px;

width: 27em;
}
/* .landing{
  margin:100px 5px
} */
#welcome{
font-size: 38px;
text-align: center;
padding-top: 350px;
padding-left: 20px;
color:rgb(6, 57, 59)
}
.landinbut{
  height: 50px;
  width: 100px;
  font-size:30px;
margin-left: 60px;
color: rgb(6, 72, 50);
}
.landinbut:hover{
  cursor: pointer;
  color:aliceblue;
  background-color: aquamarine;
}